:root {
  --marine: rgb(5, 41, 76);
  --deep-sky-blue: #0178fc;
  --pale-grey: #f1f2f4;
  --lightlightgray: #bdbdbd;
  --purple-pink: #b620e0;
  --orange-flare: #f96706;
  --alert-red-dark: #e02020;
  --alert-red-light: #ffeded;
  --ice-blue: #e7f8ff;
  --blek: #1B1B22;
  --alert: #F0002F;
  --aqua-blue: #00CBD8;
  --dark-gray: #2F2F3C;
  --dark-purple: #4400A3;
  --lavender: #EEDBFF;
  --light-lavender: #F9F6FC;
  --purple: #6B00FF;
  --muted-purple: rgb(107 0 255 / 50%);
  --grurple: #6D638C;
}

body,
html {
  background-color: var(--dark-gray);
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--dark-gray);
  background-size: cover;
  background-position: 0 -2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

p {
  line-height: 1.4rem;
}

.column-left {
  width: 22rem;
  height: 100vh;
  display: flex;
  flex-direction: column;

  background: url('./panorama.png'), linear-gradient(0deg, var(--light-lavender) 0%, var(--lavender) 100%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.logo-block {
  margin: 2rem 0 1.5rem 2rem;
}

/* .column-explore {
  width: 27rem;
  height: 100vh;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
} */

/* section {
  margin: 2rem;
} */

/* section button {
  margin-top: 1rem;
  width: 100%;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
} */

/* section div button:not(:first-child) {
  margin-top: 0.5rem;
} */

section select {
  width: 100%;
}

.mt0 {
  margin-top: 0;
}

/* .image-viewer {
  flex-grow: 1;
  position: relative;
  background-color: var(--grurple);
} */

/* .image-paper {
  display: inline-block;
  margin: 1rem;
  background: #fafafa;
} */

/* .image-canv {
  margin: 1rem;
  border: 1px solid #e6e6e6;
} */

/* .image-viewer div {
  margin: 1rem;
} */

main {
  display: flex;
}

/* .input-field {
  height: 1.875rem;
  font-size: 1rem;
  flex-grow: 1;
} */

/* .login-button {
  height: 2rem;
  font-size: 1rem;
  margin-top: 0.25rem;
  width: 100%;
} */

.address-label {
  font-size: 0.875rem;
  font-weight: bold;
}

/* section div button.connect-btn {
  margin: 0;
  width: 100px;
} */

/* .field-cont {
  display: flex;
  margin-top: 0.25rem;
}

.field-cont textarea {
  font-size: 1rem;
  flex-grow: 1;
} */

.button-bar {
  display: flex;
  margin-top: 0.5rem;
  margin-top: auto;
}

.button-bar button {
  flex-grow: 1;
}

.button-bar button:first-child {
  margin-right: 0.25rem;
}

.button-bar button:last-child {
  margin-left: 0.25rem;
}

.connection-container {
  margin: 1rem 0;
}

.input-field-error {
  color: var(--alert-red-dark);
  font-size: 0.8125rem;
  margin: 0.25rem 0 0.125rem;
  line-height: 1.2rem;
}

/* .input-field-hint {
  font-size: 0.875rem;
  margin-top: 0.25rem;
  line-height: 1.2rem;
} */

.connection-details {
  margin-top: 0.5rem;
}

.connection-details > div {
  margin-top: 0.25rem;
}

.muted {
  color: #555;
}

.modal-background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.64);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-background .modal-cont {
  width: calc(576px + 1rem + 2rem);
  /* height: 400px; */
  background: #efefef;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  padding: 0 0.5rem;
}

/* .explorer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.125rem;
  padding: 0 0.5rem;
} */

/* .explore-header button {
  width: unset;
} */

.modal-header h4 {
  margin: 0;
}

/* .explorer-grid {
  display: grid;
  grid-template-areas: "a a";
  gap: 0.5rem;
  grid-auto-columns: 192px;
  width: calc(384px + 1rem);
  margin-top: 0.5rem;
} */

/* .explore-cell {
  width: 192px;
  height: 192px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid #cbcbcb;
} */

.modal-contents {
  height: 480px;
  overflow-y: auto;
  padding-top: 0.25rem;
}

/* .image-meta-cont p {
  font-size: 0.875rem;
  margin: 0.375rem 0;
}

.image-meta-cont h4 {
  font-size: 1rem;
  margin: 0 0 0.375rem;
} */

@keyframes loading-bar-morph {
  0% { transform: scaleX(1);}
  50% { transform: scaleX(0.1);}
  100% { transform: scaleX(1);}
}

a {
  text-decoration: none;
}



/* Dropzone Component */
/* ---------------------------------------------------------------- */
/* .dropzone {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: background-color 200ms ease;
} */

.highlight,
.dropzone:hover {
  background-color: lightcyan;
}

.file-input {
  display: none;
}

#preview-container {
  /* padding: 2rem; */
  width: calc(22.5rem - 0.125rem - 3rem);
  height: calc(22.5rem - 0.125rem - 3rem);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(107, 0, 255, 0.20);
}

/* #preview-container img {
  width: 100%;
} */

.smallText {
  font-size: 0.875rem;
  line-height: 1.4;
}

.dropzone-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.dropzone-wrapper button {
  margin-top: 0.5rem;
}

.shade-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(27, 27, 34, 0.84);
}

@keyframes fade {
  /* 0%,100% { opacity: 0 }
  50% { opacity: 1 } */
  0%,100% { border-color: rgb(255 255 255 / 0%) }
  50% { border-color: rgb(255 255 255 / 100%) }
}

@keyframes spinit {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.burstSpinnerContainer {
  width: calc(20rem - 0.5rem);
  height: calc(20rem - 0.5rem);
  position: absolute;
  left: 0;
  top: 0;
}

.burstSpinnerContainer canvas {
  width: calc(20rem - 0.5rem);
  height: calc(20rem - 0.5rem);
}

.dashboard-spinner {
  position: relative;
  width: 312px;
  height: 312px;
}